#root {
  inline-size: 100%;
  
}

:root {
  --gold1: #fff3af; 
  --gold2: #fad15c;
  --gold3: #e1b534;
  --gold4: rgb(204, 138, 0);
  --gold5: #9f6d00;
  --darkBackground: #141518;
  --darkText : #a7aaaf;
  
}




body {
  margin: 0px;
  overflow-x: hidden;
  background-image: url("/background.jpg");
  
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

